# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.pyc
*~
*.swp
*.gz
.gitignore
.env
mysite/local_settings.py
credential_manager/credentials.json
credential_manager/service-account-key.json
credential_manager/encryption_key.key
*.log
