.inlineFormBox{
    height: 23px;
}

.inlineFormInput{
    width: 117px;
}

.inlineLogin{
    font-size: 13px;
}

#forgotPwd{
    margin-left: 22px;
}

#inlineFormAlert{
    position: absolute; 
    z-index: 1; 
    margin-right: 15px;
}

.alertText{
    display: block;
}
