body{
    position: relative;
    background-image: url('/static/deal_findr/images/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.bgImage{
    object-fit:cover;
    position:absolute;
    top:0;
    z-index:-1;
    opacity:0.5;
    max-height:100%;
}

img.blur{
    -webkit-filter: blur(4px);
    filter: blur(4px);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');
}

.navbar{
  background: #ccffff;
  border:1px solid rgba(0,0,0,0.1);
}

.section::before { 
  display: block; 
  content: " "; 
  margin-top: -52.6px; 
  height: 52.6px; 
  visibility: hidden; 
  pointer-events: none;
}

.bgSection{
    background: rgba(255,255,255,0.4);
}

.lead1{
    font-size: 30px;
}

.lead2{
    font-size: 35px;
}

.lead3{
    font-size: 20px;
}

.jumbotron{
    margin-bottom: 0px;
    padding-top: 0px;
}

.jumbotron .container{
    padding-top: 4rem;
}

.inlineFormBox{
    height: 23px;
}

.inlineFormInput{
    width: 117px;
}

.inlineLogin{
    font-size: 13px;
}

#forgotPwd{
    margin-left: 22px;
}

.alertText{
    display: inline-block;
}

.container{
    position: relative;
}

.card-deck .card{
    background: #ccffff;
}

.card-img-top{
    height: 200px;
}

.far{
    color: brown;
}

#Pricing{
    margin-top: 52.6px;
}

#Free{
    background: rgb(204,255,255,0.5);
}

footer{
    background: rgba(0,0,0,0.5);
}

