{% extends "base.html" %}

{% load static %}
{% load widget_tweaks %}


{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'deal_findr/css/login.css' %}">
{% endblock %}



{% block content %}


<!-- Navigation -->
<div class="bgImage">
  <img src="{% static 'deal_findr/images/background.jpg' %}" class="blur img-fluid">
</div>

<header class="sticky-top">

  {% if form.non_field_errors %}
  <!-- form errors -->
  <div class="p-0 alert alert-danger alert-dismissible fade show my-0" role="alert">
    <div class="container">
      {% for err in form.non_field_errors %}
      <small class="alertText">{{err}}</small>
      {% endfor %}
      <button type="button" class="close p-0" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <!-- form errors -->
  {% endif %}

  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-light py-1">

    <!-- Navbar container -->
    <div class="container">

      <!-- Navbar brand -->
      <a class="navbar-brand" href="#">
        <img src="{% static 'deal_findr/images/brand.png' %}" height="36" alt="Deal-Findr Logo">
      </a>
      <!-- Navbar brand -->

      <!-- Collapse button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Collapse button -->

      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="navbarContent">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#Jumbotron">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Features">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Pricing">Pricing</a>
          </li>
        </ul>
        <!-- Links -->

        <!-- Login form -->
        <form method="post">
          {% csrf_token %}
          <div class="form-inline">
            <label class="sr-only" for="inlineFormUsername">Username</label>
            {% render_field form.username class="form-control-sm mr-sm-2 inlineFormBox inlineFormInput" id="inlineFormUsername" placeholder="Username"%}
            <label class="sr-only" for="inlineFormPassword">Password</label>
            {% render_field form.password class="form-control-sm mr-sm-3 inlineFormBox inlineFormInput" id="inlineFormPassword" placeholder="Password"%}
            <button type="submit" class="btn-sm btn-success py-0 inlineFormBox inlineLogin">Login</button>
          </div>
          <div class="form-inline">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="inlineFormChkBx">
              <label class="form-check-label" for="inlineFormChkBx"> 
                <small class="form-text text-muted">Remember me</small>
              </label>
            </div>
            <div id="forgotPwd">
              <a href="{% url 'deal_findr:password_change' %}">
                <small class="form-text text-muted">Forgot password?</small>
              </a>
            </div>
          </div>
        </form>    
        <!-- Login form -->

      </div>
      <!-- Collapsible content -->

    </div>
    <!-- Navbar container -->

  </nav>
  <!--Navbar-->

</header>
<!-- Navigation -->

<!-- Main layout -->
<main>

  <!-- Intro with signup -->
  <div class="jumbotron jumbotron-fluid bgSection section" id="Jumbotron">

    <div class="container">
      <div class="row">

        <div class="col">

          <!-- Intro -->
          <h1 class="display-1">Deal Findr</h1>
          <div class="lead my-4">
            <p class="lead1">Make online shopping hassleless</p>
            <p>Give your wishlist and chillax!!</p>
          </div>
          <!-- Intro -->

          <!-- Signup -->
          <form class="my-5">
            <div class="form-row">
              <div class="col">
                <label class="sr-only" for="SignupEmail">Email</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">@</div>
                  </div>
                  <input type="Email" class="form-control" id="SignupEmail" placeholder="Email">
                </div>
              </div>
              <div class="col">
                <button type="submit" class="btn btn-primary">Signup</button>
              </div>
            </div>
          </form>
          <!-- Signup -->

        </div>

        <div class="col">
          <img src="{% static 'deal_findr/images/basket.png' %}" class="img-fluid" >
        </div>

      </div>
    </div>

  </div>
  <!-- Intro with signup -->

  <!-- Features -->
  <div id="Features" class="section">
    <div class="container">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top img-fluid" src="{% static 'deal_findr/images/multi_website.jpeg' %}" alt="Multi-Website support">
          <div class="card-body">
            <h5 class="card-title">Multi-website support</h5>
            <p class="card-text">You can make your wishlist from multiple websites. We are here to do all the hard work. <i class="far fa-smile-wink fa-lg"></i></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top img-fluid" src="{% static 'deal_findr/images/hour_glass.jpeg' %}" alt="1 month price monitoring">
          <div class="card-body">
            <h5 class="card-title">1 month price monitoring</h5>
            <p class="card-text">We will monitor your wishlist for one month. So don't worry about missed offers. <i class="far fa-grin-hearts fa-lg"></i></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top img-fluid" src="{% static 'deal_findr/images/cart.jpeg' %}" alt="Editable Wishlist">
          <div class="card-body">
            <h5 class="card-title">Flexible wishlist</h5>
            <p class="card-text">You can add or delete products and even change your budget. You have all the time in the world. <i class="far fa-laugh-squint fa-lg"></i></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Features -->


  <!-- Pricing -->
  <div id="Pricing" class="section bgSection">
    <div class="container">
      <div class="row mr-0">
        <div class="col-6 py-4">
          <img class="img-fluid" src="{% static 'deal_findr/images/free.png' %}" alt="Free of cost" width="60%">
        </div>
        <div class="col-6 py-5" id="Free">
          <div class="p-3 text-center">
            <p class="lead lead2">Completely free of cost.</p>
            <p class="lead lead3">This product is open source and actively developed.</p>
            <p class="lead lead3">Feel free to contribute on github.</p>
            <a href="https://github.com/ravisumit33/Deal-Findr">
              <i class="fab fa-github fa-3x"></i>
            </a>
          </div>
        <div>
      </div>
    </div>
  </div>
  <!--Pricing-->

</main>
<!-- Main layout -->

<!-- Footer -->
<footer class="py-4">
  <div class="container text-white-50">
    <div class="row">
      <div class="col-xs-12 col-lg-6 text-right pr-5">
        <img src="{% static 'deal_findr/images/brand.png' %}" alt="Deal-Findr Logo">
      </div>
      <div class="col-xs-12 col-lg-6">
        <div id="contact" class="py-3">
          <p><i class="fas fa-envelope"></i>&nbsp;&nbsp;ravi.sumit33@gmail.com</p>
          <p><i class="fas fa-envelope"></i>&nbsp;&nbsp;ayushanshul07@gmail.com</p>
        </div>
      </div>
    </div>
    <div class="text-center pt-3">
      <small>Copyright &copy; Deal Findr</small>
    </div>
  </div>
</footer>
<!-- Footer -->

{% endblock %}


{% block bodyscripts %}
<script src="{% static 'deal_findr/js/login.js' %}"></script>
{% endblock %}
