{% extends "base.html" %}

{% load static %}
{% load widget_tweaks %}


{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'deal_findr/css/login.css' %}">
{% endblock %}

{% block content %}

<!-- Navigation -->
<header> 
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <!-- Navbar brand -->
      <a class="navbar-brand" href="#">
          Deal Findr
      </a>

      <!-- Collapse button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="navbarContent">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Downloads</a>
          </li>
        </ul>
        <!-- Links -->

        <form method="post">
            {% csrf_token %}
            {% render_field form.non_field_errors class="alert alert danger" role="alert" %}
            <div class="form-inline">
                <label class="sr-only" for="inlineFormUsername">Username</label>
                {% render_field form.username class="form-control-sm mr-sm-2 inlineFormBox inlineFormInput" id="inlineFormUsername" placeholder="Username"%}
                <label class="sr-only" for="inlineFormPassword">Password</label>
                {% render_field form.password class="form-control-sm mr-sm-3 inlineFormBox inlineFormInput" id="inlineFormPassword" placeholder="Password"%}
                <button type="submit" class="btn-sm btn-success py-0 inlineFormBox inlineLogin">Login</button>
            </div>
            <div class="form-inline">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="inlineFormChkBx">
                    <label class="form-check-label" for="inlineFormChkBx"> 
                        <small class="form-text text-muted">Remember me</small>
                    </label>
                </div>
                <div id="forgotPwd">
                    <a href="{% url 'deal_findr:password_change' %}">
                        <small class="form-text text-muted">Forgot password?</small>
                    </a>
                </div>
            </div>
        </form>    
        <!-- Collapsible content -->
    </nav>
    <!--/.Navbar-->
</header>

<!-- Main layout -->
<main> </main>

<!-- Footer -->
<footer> </footer>

{% endblock %}





